<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post" action="/login">
    <div>
      <label>Username</label>
    </div>
    <div>
      <input type="text" name="username">
    </div>
    <div>
      <label>Password</label>
    </div>
    <div>
      <input type="password" name="password">
    </div>
    <div>
      <button type="submit">
        Log In
      </button>
    </div>
    {{#if errorMessage}}
      <div>
        <p style="color: red;">{{errorMessage}}</p>
      </div>
    {{/if}}
    <div>
      <a href="/signup">Don't have an account? Sign up!</a>
    </div>
  </form>
</body>
</html>