:root {
  --primary-text: olivedrab;
  --primary-background: papayawhip;
  --lh: 1.4rem;
  --max-lines: 3;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text);
  margin: 0;
}

.navbar {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar .link-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .link-container span{
  margin-right: 4rem;
  color: var(--primary-text);
}

.navbar .link-container span a{
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar .link-container span a:hover{
  text-decoration: underline;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text)
}

.navbar .logo-container h2{
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  margin-left: 1rem;
}



/* .navbar .logo-container .logo {
  background-color: olivedrab;
  background-image: url("/images/grass.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 60px;
  width: 60px;
} */

.navbar .logo-container .logo {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: var(--primary-text);
  border-radius: 50%;
}


.navbar .logo-container .logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  
  background-image: url("/images/grass.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  transform: skew(-20deg) translate(-65%, -50%);
}

.parks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.parks-container .park-link{
  text-decoration: none;
  width: 30%;
  display: flex;
}

.parks-container .park {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
}

.parks-container .park:hover {
  transform: translateY(-10px);
  cursor: pointer;
}



.parks-container .park .park-image{
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.parks-container .park .park-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid var(--primary-text);
  padding: 1rem;
  color: var(--primary-text);
}

.parks-container .park .park-text .park-name {
  margin-top: 0;
  height: 2rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.parks-container .park .park-text .park-description {
  margin-top: 0;
  flex: 1;
  position: relative;  
}

.parks-container .park .park-text .park-description .park-overlay{
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(255 239 213 / 91%);
  box-shadow: 0px -30px 10px 10px rgb(255 239 213 / 91%)
}

.parks-container .park .park-text .park-address p {
  margin: 0;
}

.parks-container .park .park-text .park-latlong {
  text-align: left;
}



.section-title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.page-title {
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 1.5rem;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.page-container .page {
  margin: 1rem;
}

.page-container .page:hover {
  transform: translateY(-2px);
  font-weight: bold;
}

.page-container .page .page-link {
  text-decoration: none;
  color: var(--primary-text);
}

.page-container .page .page-link.active {
  font-weight: 900;
  text-decoration: underline;
}